@font-face {
    font-family: 'digital-7regular';
    src: url('../font/digital-7.regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
.table-container{
	overflow: hidden;
	border-radius: 5px;
}
#time{
	margin-left: 30px;
}
.title{
	border: none;
	margin: 0;
	background: #2c3e50;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.table.time-table{
	font-family: 'digital-7regular';
	font-weight: bold;
	background: #fff;
	color: #ecf0f1;
	border-collapse: collapse;
	margin-bottom: 0;
}
.table.time-table th{
	padding: 20px 10px;
	background: #2c3e50;
	color: #f1c40f;
	text-align: left;
	font-size: 15px;
	border-bottom: 0;
}
.table.time-table td{
	padding: 10px;
	text-align: left;
	font-size: 15px;
}

.table.time-table tr{
	background: #ecf0f1;
	color: #2c3e50 ;
}
@media(min-width: 992px) {
	.table.time-table td, .table.time-table th{
		font-size: 17px;
	}
	.table.time-table th:nth-child(4), table th:nth-child(3){
		min-width: 250px;
	}
	.table.time-table th:last-child{
		min-width: 120px;
	}
}
.table.time-table tr td{
	border-top: none;
}
.table.time-table tr+tr{
	border-top: 1px solid #2c3e50;
}