@font-face {
    font-family: 'crystal';
    src: url('../font/CRYSTAL-webfont.eot');
    src: url('../font/CRYSTAL-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/CRYSTAL-webfont.woff2') format('woff2'),
         url('../font/CRYSTAL-webfont.woff') format('woff'),
         url('../font/CRYSTAL-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Slider*/
.swiper-slide{
	position: relative;
}
.swiper-slide img{
	width: 100%;
}
.swiper-slide .slider-text{
	position: absolute;
	width: 100%;
	top: 50%;
	overflow: hidden;
	min-height: 200px;
	opacity: 0;
}

.swiper-slide.active .slider-text{
	top: 20%;
	opacity: 1;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}
.swiper-slide .slider-text .btn-custom{
	top: 100%;
	left: 50%;
	margin-left: -180px;
	position: absolute;
	opacity: 0;
	color: #fff;
	background: #2c3e50;
	padding: 13px;
	font-size: 16px;
	min-width: 360px;
}
.swiper-slide .slider-text.btn-custom:hover{
	color: #fff;
}
.swiper-slide.active .slider-text .btn-custom{
	top: 50%;
	opacity: 1;
	-webkit-transition: all 2s 1s;
	-moz-transition: all 2s 1s;
	-o-transition: all 2s 1s;
	transition: all 2s 1s;
}

/*Time-table*/
.table-container{
	overflow: hidden;
	border-radius: 5px;
}
#time{
	margin-left: 30px;
}
.title{
	border: none;
	margin: 0;
	background: #2c3e50;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.table.time-table{
	font-family: 'crystal';
	font-weight: normal;
	background: #fff;
	color: #ecf0f1;
	border-collapse: collapse;
	margin-bottom: 0;
}
.table.time-table th{
	padding: 20px 10px;
	background: #2c3e50;
	color: #f1c40f;
	text-align: left;
	font-size: 15px;
	border-bottom: 0;
	text-align: center;
}
.table.time-table td{
	padding: 10px;
	text-align: center;
	font-size: 14px;
}
.table.time-table td a, .table.time-table td a:active{
	text-decoration: underline;
	color: #2c3e50;
}
.table.time-table td a:hover, .table.time-table td a:focus{
	text-decoration: none;
}
.table.time-table tr{
	background: #ecf0f1;
	color: #2c3e50 ;
}
.time-table .status span{
	border-radius: 4px;
	padding: 3px 5px 0;
	display: inline-block;
	min-width: 100px;
	text-align: center;
	color: #fff;
}
.time-table .status .departing{
	background: #f1c40f;
}
.time-table .status .approuch{
	background: #2ecc71;
}
.time-table .status .boarding{
	background: #3498db;
}
.time-table .status .en-route{
	background: #1abc9c;
}
.time-table .status .landing{
	background: #f39c12;
}
.time-table .status .on-blocks{
	background: #95a5a6;
}
.time-table .status .booked{
	background: #e74c3c;
}
@media(min-width: 992px) {
	.table.time-table td, .table.time-table th{
		font-size: 15px;
	}
	.table.time-table th:nth-child(4), table th:nth-child(3){
		min-width: 250px;
	}
	.table.time-table th:last-child{
		min-width: 120px;
	}
}
.table.time-table tr td{
	border-top: none;
}
.table.time-table tr+tr{
	border-top: 1px solid #2c3e50;
}

/*Awards*/
.awards{
	color: #2c3e50;
}
.awards h5{
	margin-right: 10px;
}
.awards .awards-wrap{
	position: absolute;
	display: none;
	border: 2px solid #2c3e50;
	border-radius: 5px;
	padding: 10px;
	left: 50%;
	top: 40px;
	width: 100px;
	margin-left: -50px;
	z-index: 1000;
	background: #fff;
}
.awards ul.awards-list .img-thumbs{
	width: 22px;
	height: 30px;
	opacity: 0.5;
	cursor: pointer;
}
.awards .awards-wrap img{
	width: 66px;
	height: 90px;
}
.awards ul.awards-list li{
	position: relative;
	padding-top: 5px;
}
.awards ul.awards-list li:hover .img-thumbs{
	opacity: 1;
}

.awards ul.awards-list li:hover .awards-wrap{
	display: block;
}